<!DOCTYPE HTML>
<html lang="ko">
    <meta charset ="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> Farm 팜 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> ABOUT </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          구입하기
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=<%= sell_path %>>버섯</a>
          <a class="dropdown-item" href="#">2번 물품</a>
          <a class="dropdown-item" href="#">3번 물품</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">전부다 검색</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> 활용하기 </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <% if user_signed_in? %>
      <%= current_user.email %>님 안녕하세요
        <a href="/users/sign_out" button type="button" class="btn btn-dark">Log out</a>
      <% else %>
        <a href="/users/sign_in" button type="button" class="btn btn-dark" >Log in</a>
      <% end %>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<body>
  <br>

<div class="container">
  <h2>판매 상품</h2>
  <hr>

  <div class="media">
    <div class="media-left">
      <%= image_tag("mushroom1.jpg", class: "card-img-top", style:"width:150px; height:150px") %>
    </div>
  <div class="container">
    <div class="row">
      <hr>
      <div class="col">
        농가이름
      </div>
      <div class="col">
        가격
      </div>
      <div class="col">
        배송소요시간
      </div>
    </div>
    <div class="row">
      <div class="col">
        민규버섯
      </div>
      <div class="col">
        1,500원
      </div>
      <div class="col">
        3일
      </div>
    </div>
  </div>
    </div>
    <hr>
  
  <div class="media">
    <div class="media-left">
      <%= image_tag("mushroom2.jpg", class: "card-img-top", style:"width:150px; height:150px") %>
    </div>
      <div class="container">
        <div class="row">
          <hr>
          <div class="col">
            농가이름
          </div>
          <div class="col">
            가격
          </div>
          <div class="col">
            배송소요시간
          </div>
        </div>
        <div class="row">
          <div class="col">
            정훈버섯
          </div>
          <div class="col">
            2,000원
          </div>
          <div class="col">
            1일
          </div>
        </div>
      </div>
  </div>
  <hr>
  
  <div class="media">
    <div class="media-left">
      <%= image_tag("mushroom3.jpg", class: "card-img-top", style:"width:150px; height:150px") %>
    </div>
      <div class="container">
        <div class="row">
          <hr>
          <div class="col">
            농가이름
          </div>
          <div class="col">
            가격
          </div>
          <div class="col">
            배송소요시간
          </div>
        </div>
        <div class="row">
          <div class="col">
            성주버섯
          </div>
          <div class="col">
            2,000원
          </div>
          <div class="col">
            2일
          </div>
        </div>
      </div>
  </div>
  <hr>
 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>