<p id="notice"><%= notice %></p>

<% if @post.picture.attached? %>
  <p>
    <%= image_tag @post.picture %>
  </p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Like:</strong>
  <%= @Post.liked_users.count %>
</p>

<% if Post_liked_by_user?(@Post, current_user) %>
  <p>
    <%= link_to "â¤ï¸", "/Posts/#{@Post.id}/likes", method: :post %>
  </p>
<% else %>
  <p>
    <%= link_to "ðŸ¤", "/Posts/#{@Post.id}/likes", method: :post %>
  </p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
